body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;

}

.one_1 {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.helf-width {
  width: 50%;
  padding-left: 2%;

}

.helf-width img {
  width: 80%;

}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-banner {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;

}

.orange_color {
  color: orange;

}





.Experience-itam {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;





}



.experiance_area {
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#web-dev-experiance {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);

  border-image-slice: 1;

}

#web-dev-experiance1 {
  border-left: 7px solid;

  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;


}

footer p {
  text-align: center;


}